<nav class="navigation d-flex flex-column text-center navbar navbar-light hide-scrollbar">
    <ul class="d-flex nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center align-items-center w-100 py-4 py-lg-2 px-lg-3" role="tablist">
        
        <li class="nav-item position-absolute top-0 mt-7 d-none d-xl-block">
            <a class="d-none d-xl-block mb-6" id="tab-home" href="#tab-content-home" data-bs-toggle="tab" role="tab" aria-selected="true">
                <svg version="1.1" width="46px" height="46px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
                    <polygon opacity="0.7" points="45,11 36,11 35.5,1 "/>
                    <polygon points="35.5,1 25.4,14.1 39,21 "/>
                    <polygon opacity="0.4" points="17,9.8 39,21 17,26 "/>
                    <polygon opacity="0.7" points="2,12 17,26 17,9.8 "/>
                    <polygon opacity="0.7" points="17,26 39,21 28,36 "/>
                    <polygon points="28,36 4.5,44 17,26 "/>
                    <polygon points="17,26 1,26 10.8,20.1 "/>
                </svg>
            </a>
        </li>
        
        <li class="nav-item position-absolute bottom-0 d-none d-xl-block">
            <a class="nav-link py-0 py-lg-8" id="tab-settings" href="#tab-content-settings" data-bs-toggle="tab" role="tab" aria-selected="true">
                <div class="icon icon-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                </div>
            </a>
        </li>
    </ul>
</nav>